@import mixin

.header
	background-color: $mainColor
	box-shadow: $normalShadow
	padding: 15px
	display: flex
	flex-direction: row
	align-items: center

	.logo
		display: flex
		flex-direction: row
		align-items: center
		text-decoration: none

		.image
			+rotationEffect(app-logo-image-spin)
			animation: app-logo-image-spin infinite 1s linear
			height: 45px
			margin: 10px
			display: inline-block

		.text
			display: inline-block
			color: $normalDarkColor
			margin: 0

	.menu
		margin: 0 0 0 auto

		.item
			list-style-type: none
			display: inline-block
			padding: 10px

			a
				text-decoration: none
				outline: none
				font-weight: bold
				color: $normalDarkColor
				+transition(color, .15s, ease-in-out, 0s)

				&:hover
					color: $secondaryColor
