=border-radius($value)
	-webkit-border-radius: $value
	-moz-border-radius: $value
	border-radius: $value

=box-shadow($value)
	box-shadow: $value
	-moz-box-shadow: $value
	-webkit-box-shadow:  $value

=transform($value)
	-moz-transform: $value
	-o-transform: $value
	-ms-transform: $value
	-webkit-transform: $value
	transform: $value

=rotate($deg)
	+transform(rotate(#{$deg}deg))

=keyframes($name)
	@-webkit-keyframes #{$name}
		@content
	@-moz-keyframes #{$name}
		@content
	@-ms-keyframes #{$name}
		@content
	@keyframes #{$name}
		@content

=user-select($value)
	-webkit-user-select: $value
	-moz-user-select: $value
	-ms-user-select: $value
	user-select: $value

=transition($value0, $value1)
	-webkit-transition: $value0 $value1
	-o-transition: $value0 $value1
	transition: $value0 $value1

=animation($animation, $delay, $duration)
	-webkit-animation-name: $animation
	-webkit-animation-delay: $delay
	-webkit-animation-duration: $duration
	-webkit-animation-fill-mode: forwards

	-moz-animation-name: $animation
	-moz-animation-delay: $delay
	-moz-animation-duration: $duration
	-moz-animation-fill-mode: forwards

	-o-animation-name: $animation
	-o-animation-delay: $delay
	-o-animation-duration: $duration
	-o-animation-fill-mode: forwards

	animation-name: $animation
	animation-delay: $delay
	animation-duration: $duration
	animation-fill-mode: forwards

=fadeEffect()
	+keyframes(fadeEffect)
		0%
			opacity: 0
		100%
			opacity: 1
