@import mixin

.components_demo
	th
		border: 1px solid #7f7f7f
		&.demo_column
			width: 60%

		&.description_column
			width: 40%

	td
		border: 1px solid #7f7f7f
		padding: 5px
		.button
			margin: 5px 0 0 5px

	@import button
	@import form-control
