@import mixin

.components_demo
	.description_title
		margin-bottom: 15px

	thead
		border: 1px solid #7f7f7f

	td
		border: 1px solid #7f7f7f
		padding: 5px

		&.demo_column
			width: 60%

		&.description_column
			width: 40%

		.button
			margin: 5px 0 0 5px

		.tab_header
			.button
				margin: 0

	.container
		width: 100%
		border: 1px solid black
	.container_content
		&.red
			background-color: darkRed
			+minSize(35px, 70px)
		&.yellow
			background-color: darkOrange
			+minSize(50px, 50px)
		&.green
			background-color: darkGreen
			+minSize(70px, 30px)
		&.blue
			background-color: darkBlue
			+minSize(42px, 64px)
	.property_title
		margin-bottom: 10px
		font-weight: bold
	.property_example_block
		margin-bottom: 20px
	.property_example_name
		margin-bottom: 5px

	@import button
	@import form-control
	@import container
	@import tab
